@if(getModule; as module) {
  <header class="game-header-wrapper">
    <div class="game-header">
      <app-dropdown 
        class="game-header__left"
        [list]="dropdownList"
        [config]="{
          title: {text: 'Картки'},
          hideOnSmall: true, 
          divider: 'line',
            icon: {
            name: 'Slider',
            color: 'var(--accent)'
          }
        }" 
      />

      <div class="game-header__center text-dark-accent">
          <div>{{ currentCardIndex()+1 }}/{{ module.cards.length }}</div>
          <div>{{ module.title }}</div>
      </div>

      <div class="game-header__right">
          @if(true) {

            <app-button 
              theme="hover-only" 
              rounded="md"
              size="symbol" 
              (click)="openModal(modalTemplate)"
            >
                <app-icon [icon]="'Settings'" [size]="24" [fill]="'#6d4aff'" />
            </app-button>

          } @else {

            <app-button 
              theme="secondary" 
              rounded="md"
            >
              Вхід
            </app-button>
            <app-button rounded="md">
                Зареєструватись
            </app-button>
            
          }

          <app-button 
              theme="hover-only" 
              rounded="md" 
              size="symbol" 
              (click)="changeGameMode('default')"
            >
              <app-icon [icon]="'Cross'" [size]="36" [fill]="'#6d4aff'" />
          </app-button>
      </div>
    </div>

    <div class="game-progress">
      <div 
        class="game-progress__bar"
        [ngStyle]="{ 'width': (this.currentCardIndex()/(module.cards.length-1)) * 100 + '%' }" 
      ></div>
    </div>
  </header>
  
  <main class="main-block">
    <app-cards 
      [cards]="module.cards" 
      [config]="{
        fullscreen: true, 
        dualBtn: false, 
        side: config.frontSide, 
        dualCard: config.dualCard
      }" 
      (quizChange)="currentCardIndex.set($event)"
    />
  </main>
}

<ng-template #modalTemplate>
  <div class="modal__body">

    <div class="modal__row">
      Передня сторона

      <app-dropdown
        [list]="dropdownList2"
        [config]="{
          divider: 'line',
          rememberSelection: true
        }"
        [position]="{px: 'right', py: 'bottom'}"
      />
    </div>

    <div class="divider-horizontal"></div>

    <div class="modal__section ">
      <div class="modal__row">
        Поєднання клавіш
        <div class="flex items-center gap-2 text-(--accent) cursor-pointer" (click)="show.shortcut = !show.shortcut">
          Переглянути
          <app-icon [icon]="'ChevronFillDown'" [size]="24" [fill]="'#6d4aff'" [class]="'transition-all'" [ngClass]="{'rotate-180': show.shortcut}"/>
        </div>
      </div>

      <div class="shortcuts" [ngClass]="{'hidden': !show.shortcut}">
        <div class="shortcut">
            <span>Повернутись</span>
            <kbd class="kbd">←</kbd>
        </div>

        <div class="shortcut">
            <span>Далі</span>
            <kbd class="kbd">→</kbd>
        </div>

        <div class="shortcut">
            <span>Перемішати</span>
            <kbd class="kbd">S</kbd>
        </div>

        <div class="shortcut">
            <span>Аудіо</span>
            <kbd class="kbd">A</kbd>
        </div>

        <div class="shortcut">
            <span>Перегорунти</span>
            <kbd class="kbd">Пробіл</kbd>
        </div>

        <div class="shortcut">
            <span>Підказка</span>
            <kbd class="kbd">C</kbd>
        </div>

        <div class="shortcut">
            <span>Автовідтворення</span>
            <kbd class="kbd">P</kbd>
        </div>
      </div>
    </div>
  </div>
</ng-template>