@if(show) {
  <div #overlay [ngClass]="'flex w-screen h-screen p-9 fixed overlay z-2'" (click)="closeModal($event)"></div>
  <div
      class="bg-white w-full max-w-2xl rounded-xl flex flex-col px-9 py-9 h-fit mx-auto z-2 fixed top-9 left-0 right-0 my-auto">
      <div class="flex justify-between w-full items-center mb-4">
        <ng-content select="[header]"></ng-content>
        @if(config.showCross) {
          <app-custom-button theme="hover-only" rounded="full" size="symbol" (click)="closeModal($event)">
            <app-icon [icon]="'Cross'" [size]="36" [fill]="'#6d4aff'" />
          </app-custom-button>
        }
      </div>

      <ng-content select="[main]"></ng-content>

      <div class="sticky bottom-0 flex justify-center">
        <ng-content select="[footer]"></ng-content>
      </div>
    </div>
}
