
<div #overlay [ngClass]="'flex w-screen h-screen p-9 fixed overlay z-2'" (click)="closeModal($event)"></div>

<div
  class="modal-containter">
  <div class="modal-content">
    <div class="flex justify-between w-full items-center mb-8">
      @if(config.title) {
        <h1 class="title font-medium">{{ config.title }}</h1>
      }
      @if(config.showCross) {
        <app-custom-button 
          class="absolute top-9 right-9"
          theme="secondary" 
          rounded="md" size="symbol" 
          (click)="closeModal($event)"
        >
          <app-icon [icon]="'Cross'" [size]="36" [fill]="'#6d4aff'" />
        </app-custom-button>
      }
    </div>

    <ng-container *ngTemplateOutlet="config.template"></ng-container>
  </div>
</div>