:host {
    color: var(--dark-accent)
}

.modal-containter {
    background-color: white;
    width: 100%;
    max-width: 42rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: calc(100vh - 4.5rem);
    overflow: hidden;
    /* padding: 2.25rem; */
    margin: auto;
    z-index: 3;
    position: fixed;
    top: 2.2rem;
    /* top: 0; */
    /* bottom: 0; */
    left: 0;
    right: 0;
    overflow: hidden;
}

.modal-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(0, 0, 0, 0.1) transparent;
}

@media (width < 48rem /* 768px */) {
    .modal-containter {
        min-height: 100dvh;
        max-width: 100%;
        top: 0;
        bottom: 0;
        border-radius: 0;
    }

    .modal-content{
        flex: 1;
        padding: 1rem;
    }
}