<header class="header">
    <a href="/">
        <img src="favicon.png" height="32" width="32" />
    </a>

    <div class="header-center">
        <app-input
            class="w-full"
            [title]="'Пошук'"
            [icon]="{show: true}"
            [allowClear]="true"
            (inputChange)="search($event)"
            (inputFocused)="showSearchDropdown = $event"
            [onSubmit]="navigateToSearch.bind(this)"
        />

        @if(showSearchDropdown && modules().length > 0) {
            <div class="search-wrapper">   
                <div class="search-content drop-shadow-xl shadow-stone-200">
                    @for(module of modules(); track module) {
                    <div class="search-item flex-col gap-1" (click)="navigateToModule(module.id, $event)">
                        <span class="text-dark-accent">{{module.title}}</span>
                        
                        <div class="flex gap-2 items-center">
                            <app-avatar [name]="module.author.name" [size]="'sm'" />
                            
                            <div class="flex flex-col">
                                <div class="flex items-center gap-2 m-0 text-sm text-(--text-secondary2)">
                                    <span>{{module.author.name}}</span>
                                    <span>термінів: {{module.objects}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                </div>
            </div>
        }
    </div>

    <div class="header-end">
        @if(auth.isAuthenticated$ | async) {
            <app-dropdown 
                [list]="dropdownList()"
                [config]="{
                rememberSelection: false,
                divider: 'line',
                }"
                [position]="{
                px: 'right',
                py: 'bottom'
                }"
                class="game-header-left"
            >
                <app-button btn
                    [theme]="'primary'"
                    [size]="'symbol'"
                >
                    <app-icon [icon]="'Add'" [size]="24" [stroke]="'#FFF'"/>
                </app-button>
            </app-dropdown>
            <!-- <app-avatar [name]="auth.getPartial('username')!" /> -->
            <app-user-avatar />
        } @else {
            <app-button
                [theme]="'primary'"
                [size]="'symbol'"
                (click)="toggleAuthModal(true)"
            >
                <app-icon [icon]="'Add'" [size]="24" [stroke]="'#FFF'"/>
            </app-button>
            <app-button (click)="toggleAuthModal(true)">Вхід</app-button>
        }
    </div>
</header>

<ng-template #modalTemplate>
    <form [formGroup]="editForm" class="flex flex-col gap-4 overflow-y-auto flex-1" (ngSubmit)="$event.preventDefault()">
        
        <app-input 
            [value]="this.editForm.get('title')?.value || ''" [delay]="0"
            (inputChange)="editForm.get('title')?.setValue($event)"
        />
        <span class="text-xs text-dark-accent" [ngClass]="{ 'text-red-500': (editForm.get('title')?.get('text')?.value?.length ?? 0) > 50 }">
            Назва
            ({{editForm.get('title')?.value?.length ?? 0}}/50)
        </span>
        
        <div [class]="'flex gap-4 justify-end w-full max-md:mt-auto max-md:flex-col-reverse'">
            <app-button theme="secondary" className="max-md:w-full" rounded="md" (click)="closeFolderModal()">
                Скасувати
            </app-button>
            <app-button theme="primary" className="max-md:w-full" rounded="md" [disabled]="!editForm.valid" (click)="onFolderSubmit($event)">
                Створити
            </app-button>
        </div>

    </form>
</ng-template>