<div
    class="input cursor-text"
    [style.width] = "width"
    [ngStyle]="styles"
    [ngClass]="{
        'focus': focused
    }"
>   
    @if(icon.show){
        <app-icon [icon]="icon.name ?? 'Search'" [size]="24" [stroke]="'#A7B2FF'" [fill]="'transparent'" />
    }
    <input
        class="w-full h-full"
        [attr.type]="type"
        [id]="inputId"
        [placeholder]="title ?? ''"
        [value]="value"
        [disabled]="disabled"
        [maxLength]="maxLength ?? null"
        (input)="onInputChange($event)"
    />

    @if(allowClear && focused && value.length > 0){
        <app-icon 
            [icon]="'FillCross'" 
            [size]="24"
            [fill]="'#A7B2FF'" 
            class="cursor-pointer"
            (click)="changeInput('')"
        />
    }

    @if(isPassword){
        <div class="flex items-center justify-center cursor-pointer p-1 hover:bg-indigo-100 rounded-lg">
            <app-icon 
                [icon]="type == 'password' ? 'EyeClose' : 'Eye'" 
                [size]="24" [fill]="'#A7B2FF'"
                (click)="showPassword()"
            />
        </div>
    }
</div>