<form [formGroup]="resetForm" class="bg-white w-full max-w-lg rounded-xl flex flex-col px-9 py-9 h-fit mx-auto gap-4">
    <div class="flex justify-between w-full items-center mb-4">
        <h1 class="title">Скидання пароля</h1>
    </div>
    <div class="flex flex-col gap-2">
        <label class="text-md text-dark-accent" for="password">Пароль</label>
        <app-input 
            inputID="password"
            [delay]="0"
            [value]="resetForm.get('password')?.value ?? ''"
            [isPassword]="true" [title]="'Пароль'" 
            (inputChange)="resetForm.get('password')?.setValue($event)"
        />
        <span class="text-xs text-(--text-secondary2)">Пароль повинен бути довжиною від 6 до 50 символів.</span>
    </div>

    <div class="flex flex-col gap-2">
        <label class="text-md text-dark-accent" for="confirmPassword">Підтвердити пароль</label>
        <app-input 
            inputID="confirmPassword"
            [delay]="0"
            [value]="resetForm.get('confirmPassword')?.value ?? ''"
            [isPassword]="true" [title]="'Пароль'" 
            (inputChange)="resetForm.get('confirmPassword')?.setValue($event)"
        />
        <span class="text-xs text-(--text-secondary2)">Пароль повинен бути довжиною від 6 до 50 символів.</span>
    </div>

    @if(errorMessage()){
        <span class="text-md text-red-400 mx-auto">{{errorMessage()}}</span>
    }

    <app-button size="w-full" [disabled]="!resetForm.valid" (click)="onReset()">Підтвердити</app-button>
    <span 
        class="text-(--accent) underline 
        underline-offset-4 hover:no-underline cursor-pointer mx-auto"
        (click)="openLogin()"
    >
        Перейти до входу
    </span>
</form>