@if (!showAnswer) {
  <div class="question-block gap-8 h-fit">
    <div class="grid gap-4 w-full"
      [ngClass]="{
        'grid-cols-[70%_30%]': true,
        'grid-cols-[30%_70%]': false
      }"
    >
      @for (block of answerBlocks; track block.id) {
        <div class="match-block" [ngClass]="{
            'selected': block.id === selectedBlock,
            'chosen': answers[block.id] !== undefined && block.id !== selectedBlock,
            'text-[var(--accent)]': answers[block.id] == undefined && block.id == selectedBlock
          }"
            (click)="selectedBlock = block.id"
        >
          {{getAnswerText(block.id)}}

          @if(answers[block.id] != undefined){
            <div class="flex gap-2 items-center">
              @if (answers[block.id]?.media?.content != undefined) {
                <!-- <div class="bg-cover bg-no-repeat bg-center h-24 w-24 rounded-xl flex-shrink-0 cursor-zoom-in" [style.background-image]="'url(' + answers[block.id]?.media?.content + ')'"></div> -->
                <app-image [image]="answers[block.id]?.media?.content!" [config]="{width: '96px', height: '96px', allowModal: true}" />
              }
              <app-icon
                [icon]="'Cross'"
                [size]="24"
                [fill]="'#A7B2FF'"
                (click)="removeAnswer(block.id, $event)"
              />
            </div>
          }
        </div>

        <div class="justify-between flex items-center">
          {{questions!.questions[block.id]?.question?.text || ''}}

          @if(questions!.questions[block.id]?.question?.media?.content != undefined) {
            @switch (questions!.questions[block.id]?.question?.media!.type) {
              @case ("audio") {
                <audio src="{{ questions!.questions[block.id]?.question?.media?.content }}"></audio>
              }@case ("video") {

                <!--TODO-->

                <video width="224" height="112" class="object-contain media-block" src="{{ questions!.questions[block.id]?.question?.media?.content }}"></video>
              }@case ("image") {
                <!--          <img width="224" height="112" class="object-contain media-block" alt="imh" ngSrc="{{ question!.question.media?.content }}"/>-->
                <!-- <div class="bg-cover bg-no-repeat bg-center h-24 w-24 rounded-xl flex-shrink-0 cursor-zoom-in" [style.background-image]="'url(' + questions!.questions[block.id]?.question?.media?.content + ')'"></div> -->
                <app-image [image]="questions!.questions[block.id]?.question?.media?.content!" [config]="{width: '96px', height: '96px', allowModal: true}" />
              }
            }
          }
        </div>
      }
    </div>

    <div class="w-full h-[2px] bg-[var(--secondary)]"></div>

    <div class="flex w-full gap-2 " [ngClass]="isColumn ? 'flex-col' : 'flex-wrap'">
      @for (answer of questions?.answers; track answer) {
        <div
          class="match-answer-block"
          [ngClass]="{ 'chosen': isAnswered(answer) }"
          (click)="toggleAnswerBlock(answer)"
        >
          {{answer.text}}
          @if (answer.media?.content) {
            <!-- <div class="bg-cover bg-no-repeat bg-center h-24 w-24 rounded-xl flex-shrink-0 cursor-zoom-in" [style.background-image]="'url(' + answer.media?.content + ')'"></div> -->
            <app-image [image]="answer.media?.content!" [config]="{width: '96px', height: '96px', allowModal: true}" />
          }
        </div>
      }
    </div>
  </div>
} @else {
  <div class="flex flex-col gap-4 w-full items-center">
    @for(question of questions?.questions; track question; let i = $index) {
      <div class="question-block justify-between">
        <div class="flex justify-end w-full h-12 mb-4 items-center">
          {{ i+1 }} з {{ questions?.questions?.length }}
        </div>

        <div class="flex w-full h-full gap-4 overflow-hidden pb-11" [ngClass]="{
          'justify-between': question!.question.text && question!.question.media?.content,
          'justify-center': !question!.question.text && question!.question.media?.content
        }">

          @if(question!.question.text) {
            @if(question!.question.text.length > 164) {
              <p class="overflow-y-auto max-h-full pb-1 wrap-break-word whitespace-pre-wrap" [ngClass]="question!.question.media?.content != undefined ? 'text-lg' : 'title'">
                {{question!.question.text}}
              </p>
              <div class="absolute bottom-11 left-0 w-full h-8 pointer-events-none in-shadow z-10"></div>
            } @else {
              <p class="text-xl">
                {{question!.question.text}}
              </p>
            }
          }

          @if(question!.question.media?.content != undefined) {
            @switch (question!.question.media!.type) {
              @case ("audio") {
                <audio src="{{ question!.question.media?.content }}"></audio>
              }@case ("video") {

                <!--TODO-->

                <video width="224" height="112" class="object-contain media-block" src="{{ question!.question.media?.content }}"></video>
              }@case ("image") {
      <!--          <img width="224" height="112" class="object-contain media-block" alt="imh" ngSrc="{{ question!.question.media?.content }}"/>-->
                <!-- <div class="bg-cover bg-no-repeat bg-center h-52 w-52 rounded-xl flex-shrink-0 cursor-zoom-in" [style.background-image]="'url(' + question!.question.media?.content + ')'"></div> -->
                <app-image [image]="question!.question.media?.content!" [config]="{width: '96px', height: '96px', allowModal: true}" />
              }
            }
          }
        </div>
        <div class="w-full flex flex-col gap-4">
          <div [ngClass]="{
              'text-[#41C550]': showAnswer && isCorrectAnswer(i),
              'text-[#FF9F4B]': showAnswer && !isCorrectAnswer(i)
            }">
            {{feedback.getFeedbackMessage(isCorrectAnswer(i))}}
          </div>

          <div class="w-full flex gap-4">
            @if(!isCorrectAnswer(i)) {
              <div
                class="answer-block w-full incorrect"
                [ngClass]="{
                  'selected':  answered && answered != undefined
                }"
              >
                <div class="flex gap-2 items-center">
                  <app-icon [icon]="'Cross'" [size]="23" [fill]="'#FF9F4B'" />
                  {{answered![i] != undefined ? answered![i] : "Відповідь не обрана"}}
                </div>
              </div>
            }
            <div
                class="answer-block w-full correct"
                [ngClass]="{
                  'selected':  answered && answered != undefined
                }"
              >
                <div class="flex gap-2 items-center">
                  <app-icon [icon]="'Check'" [size]="24" [stroke]="'#41C550'" [fill]="'transparent'"/>
                  {{questions?.questions![i].answer.text}}
                </div>
              </div>
          </div>
        </div>
      </div>
    }
  </div>
}