.match-block {
  display: flex;
  width: 100%;
  min-height: 56px;
  padding: 14px;
  border: 2px dashed var(--secondary2);
  border-radius: 16px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.match-block:hover {
  border-color: var(--hover-secondary2);
}

.match-block.chosen {
  border: 2px solid var(--secondary2);
}

.match-block.selected {
  border: 2px solid var(--accent);
  background-color: var(--secondary2);
}

.match-answer-block {
  display: flex;
  gap: 16px;
  padding: 8px 14px;
  border: 1px solid var(--secondary2);
  border-radius: 12px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.match-answer-block:hover {
  border-color: var(--hover-secondary2);
}

.match-answer-block.chosen {
  border: 1px solid transparent;
  opacity: 50%;
  cursor: default;
}
