@if(idea) {
    <div class="flex w-full justify-between gap-4 max-md:flex-col">
        <div class="flex flex-col w-full" (click)="openFull(modalTemplate)">
            <span class="flex gap-2 items-center">
                <span class="font-medium">{{idea.title}}</span>
                <span class="text-sm">#{{idea.id}}</span>
            </span>

            <span class="line-clamp-2 text-sm">
                {{idea.description}}
            </span>
        </div>

        <app-custom-button 
            [theme]="idea.voted ? 'primary' : 'secondary'"
            (click)="vote()"
        >
            <app-icon [size]="24" [icon]="'ChevronFillUp'" [fill]="idea.voted ? '#FFF' : 'var(--accent)'" />
            {{idea.votes}}
        </app-custom-button>
    </div>

    <ng-template #modalTemplate>
        <div class="flex flex-col gap-8 w-full flex-1" (click)="openFull(modalTemplate)">
            <span class="flex gap-2 items-center max-md:mt-4">
                <span class="font-medium">{{idea.title}}</span>
                <span class="text-sm">#{{idea.id}}</span>
            </span>

            <div class="flex gap-8 w-full">
                <app-avatar [name]="'?'" />
                <div class="flex flex-col gap-2">
                    <span class="text-sm">
                        {{idea.description}}
                    </span>
                    <span class="text-xs text-[var(--dark-accent)]">
                        Анонімно {{idea.date}}
                    </span>
                </div>
            </div>

            <div class="flex justify-between w-full items-center max-md:mt-auto max-sm:flex-col gap-4">
                <span>Сподобалась ідея?</span>
                <app-custom-button 
                    [theme]="idea.voted ? 'primary' : 'secondary'"
                    [size]="'w-full'"
                    class="max-sm:w-full"
                    (click)="vote()"
                >   
                    Голосувати
                    <app-icon [size]="24" [icon]="'ChevronFillUp'" [fill]="idea.voted ? '#FFF' : 'var(--accent)'" />
                    {{idea.votes}}
                </app-custom-button>
            </div>
        </div>
    </ng-template>
}