<app-card
    [card]="{
        id: currentCard().id,
        title: config().side !== 'description' 
            ? currentCard().title
            : currentCard().description,
        description: config().side !== 'description'
            ? currentCard().description 
            : currentCard().title
    }"
    [canEdit]="config().canEdit"
    [fullScreen]="config().fullscreen || false"
/>

<div class="quiz-footer__nav quiz-footer__nav--desktop">
    <div class="quiz-footer__group quiz-footer__group--left">
        <app-button
            (click)="toggleAutoPlay()"
            [theme]="'secondary'"
            [size]="'symbol'"
        >
            <app-icon [icon]="autoPlayEnabled() ? 'Pause' : 'Play'" [size]="16" [fill]="'#6d4aff'" />
        </app-button>

        <app-button
            (click)="toggleShuffle()"
            [theme]="shuffleEnabled() ? 'primary' : 'secondary'"
            [size]="'symbol'"
        >
            <app-icon [icon]="'Shuffle'" [size]="16" [fill]="shuffleEnabled() ? '#FFF' : '#6d4aff'" />
        </app-button>
    </div>

    <div class="quiz-footer__group quiz-footer__group--center">
        <app-button
            (click)="this.changeCard('prev')"
            [theme]="'secondary'"
            [size]="'symbol'"
            [disabled]="index() === 0"
        >
            <app-icon [icon]="'ChevronLeft'" [size]="24" [fill]="'#6d4aff'" />
        </app-button>

        <div class="text-dark-accent">{{ index()+1 }}/{{ this.cards().length }}</div>

        <app-button
            (click)="this.changeCard('next')"
            [theme]="'secondary'"
            [size]="'symbol'"
            [disabled]="index() === this.cards.length-1"
        >
            <app-icon [icon]="'ChevronRight'" [size]="24" [fill]="'#6d4aff'" />
        </app-button>
    </div>


    @if(config().dualBtn) {
        <div class="quiz-footer__group quiz-footer__group--right">
            <div class="flex gap-1 h-11 p-1 items-center bg-(--secondary) w-fit rounded-2xl overflow-hidden">
                <app-button
                    [theme]="'secondary'"
                    [size]="'dual-child'"
                    [rounded]="'right-sm'"
                    (click)="openModal(modalTemplate)"
                >
                    <app-icon [icon]="'Settings'" [size]="24" [fill]="'#6d4aff'"/>
                </app-button>

                <div class="w-0.5 h-1/2 bg-(--hover-secondary2)"></div>
                
                <app-button
                    [theme]="'secondary'"
                    [size]="'dual-child'"
                    [rounded]="'left-sm'"
                    (click)="openFullScreen()"
                >
                    <app-icon [icon]="'FullScreen'" [size]="24" [stroke]="'#6d4aff'"/>
                </app-button>
            </div>
        </div>
    }
</div>

<div class="quiz-footer__nav quiz-footer__nav--mobile">
    <div class="quiz-footer__mobile-navigation">
        <app-button
            [theme]="'secondary'"
            [disabled]="index() === 0"
            (click)="this.changeCard('prev')"
        >
            <app-icon [icon]="'ChevronLeft'" [size]="24" [fill]="'#6d4aff'" />
        </app-button>

        <div class="text-dark-accent">
            {{ index()+1 }}/{{ this.cards().length }}
        </div>

        <app-button
            [theme]="'secondary'"
            [disabled]="index() === this.cards.length-1"
            (click)="this.changeCard('next')"
        >
            <app-icon [icon]="'ChevronRight'" [size]="24" [fill]="'#6d4aff'" />
        </app-button>
    </div>

    <div class="quiz-footer__mobile-actions">
        <app-button
            [theme]="'secondary'"
            [size]="'symbol'"
            (click)="toggleAutoPlay()"
        >
            <app-icon [icon]="autoPlayEnabled() ? 'Pause' : 'Play'" [size]="16" [fill]="'#6d4aff'" />
        </app-button>

        <app-button
            [theme]="shuffleEnabled() ? 'primary' : 'secondary'"
            [size]="'symbol'"
            (click)="toggleShuffle()"
        >
            <app-icon [icon]="'Shuffle'" [size]="16" [fill]="shuffleEnabled() ? '#FFF' : '#6d4aff'" />
        </app-button>
    </div>
</div>

@if(config().progressBar) {
    <div class="game-progress">
        <div 
            class="game-progress__bar"
            [ngStyle]="{ 'width': (this.index()/(this.cards.length-1))*100 + '%' }" 
        >
        </div>
    </div>
}

<ng-template #modalTemplate>
  <div class="modal__body">

    <div class="modal__row">
      <span>Передня сторона</span>
      <app-dropdown [list]="dropdownList" [config]="{divider: 'line', rememberSelection: true }" [position]="{px: 'right', py: 'bottom'}" />
    </div>

    <div class="divider-horizontal"></div>

    <div class="modal__section">
      <div class="modal__row">
        <span>Поєднання клавіш</span>

        <div class="flex items-center gap-2 text-(--accent) cursor-pointer" (click)="shortcut = !shortcut">
          <span>Переглянути</span>
          <app-icon [icon]="'ChevronFillDown'" [size]="24" [fill]="'#6d4aff'" [class]="'transition-all'" [ngClass]="{'rotate-180': shortcut}"/>
        </div>
      </div>

      <div class="shortcuts" [ngClass]="{'hidden': !shortcut}">

        <div class="shortcut">
            <span>Повернутись</span>
            <kbd class="kbd">←</kbd>
        </div>

        <div class="shortcut">
            <span>Далі</span>
            <kbd class="kbd">→</kbd>
        </div>

        <div class="shortcut">
            <span>Перемішати</span>
            <kbd class="kbd">S</kbd>
        </div>

        <div class="shortcut">
            <span>Аудіо</span>
            <kbd class="kbd">A</kbd>
        </div>

        <div class="shortcut">
            <span>Перегорунти</span>
            <kbd class="kbd">Пробіл</kbd>
        </div>

        <div class="shortcut">
            <span>Підказка</span>
            <kbd class="kbd">C</kbd>
        </div>

        <div class="shortcut">
            <span>Автовідтворення</span>
            <kbd class="kbd">P</kbd>
        </div>
      </div>
    </div>
  </div>
</ng-template>