<app-header />

<main class="flex flex-col max-w-200 mx-auto px-3 mt-4 gap-4">
     <div class="flex w-full justify-between">
        <h1 class="title">Маєте ідею?</h1>
        <app-button (click)="openModal(modalTemplate)">Запропонувати</app-button>
    </div>

    <app-segmented-controls [selected]="selectedSegment()" [segments]="segments" (selectedSegment)="selectedSegment.set($event)"/>

    @if(selectedSegment() == 0) {
        <div class="flex flex-col gap-8 bg-white p-4 rounded-2xl">
            @for(ideaGroup of ideas; track ideaGroup) {
                <div class="flex flex-col gap-4">
                    <span class="text-sm text-dark-accent">{{ideaGroup.date}}</span>
                    @for(idea of ideaGroup.ideas; track idea) {
                        <app-idea [idea]="idea" />
                    }
                </div>
            }
        </div>
    } @else {
        <div class="bg-white p-4 rounded-2xl">
            <div class="flex flex-col gap-12 relative pl-12 vertical">
                <div class="flex flex-col gap-8">
                    <div class="relative">
                        <span class="relative text-sm text-dark-accent horizontal">У процесі</span>
                        <div class="progress-dot"></div>
                    </div>
                    @for(task of roadmap.inProgress; track task) {
                        <div class="flex flex-col gap-4">
                            <app-task [task]="task" class="relative progress" />
                        </div>
                    }
                </div>
                <div class="flex flex-col gap-8">
                    <div class="relative">
                        <span class="relative text-sm text-dark-accent horizontal">Можливо у майбутньому</span>
                        <div class="future-dot"></div>
                    </div>
                    @for(task of roadmap.inFuture; track task) {
                        <div class="flex flex-col gap-4">
                            <app-task [task]="task" class="relative future" />
                        </div>
                    }
                </div>

                <div class="flex flex-col gap-8">
                    <div class="relative">
                        <span class="relative text-sm text-dark-accent horizontal">Виконано</span>
                        <div class="completed-dot"></div>
                    </div>

                    @for(completed of roadmap.completed; track completed) {
                        <div class="flex flex-col gap-4">
                            <span class="relative text-sm text-dark-accent horizontal">{{completed.date}}</span>
                            @for(task of completed.tasks; track task) {
                                <app-task [task]="task" class="relative completed" />
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</main>

<ng-template #modalTemplate>
    <form [formGroup]="ideaForm" class="flex flex-col gap-4 overflow-y-auto flex-1">

        <span class="text-xs text-dark-accent" [ngClass]="{ 'text-red-500': (ideaForm.get('title')?.get('text')?.value?.length ?? 0) > 50 }">
            Заголовок
            ({{ideaForm.get('title')?.value?.length ?? 0}}/50)
        </span>
        <app-input 
            [value]="this.ideaForm.get('title')?.value || ''" [delay]="0"
            (inputChange)="ideaForm.get('title')?.setValue($event)"
        />

        <span class="text-xs text-dark-accent" [ngClass]="{ 'text-red-500': (ideaForm.get('description')?.value?.length ?? 0) > 500 }">
            ОПИС
            ({{ideaForm.get('description')?.value?.length ?? 0}}/500)
        </span>
        <app-text-area
            class="w-full" 
            [delay]="0"
            [value]="ideaForm.get('description')?.value || ''" 
            (inputChange)="ideaForm.get('description')?.setValue($event)"
        />
        
        <div [class]="'flex gap-4 justify-end w-full max-md:mt-auto max-md:flex-col-reverse'">
            <app-button theme="secondary" className="max-md:w-full" rounded="md" (click)="closeModal()">
                Скасувати
            </app-button>
            <app-button theme="primary" className="max-md:w-full" rounded="md" [disabled]="!ideaForm.valid" (click)="onSubmit()">
                Запропонувати
            </app-button>
        </div>

    </form>
</ng-template>