<div class="quiz-card" [class.flipped]="isFlipped" (click)="toggleFlip()">
    <div class="quiz-card-inner" [class.no-transition]="noTransition">
      <div class="quiz-card-front"
           [ngClass]="animationClass()"
           >
        <div class="quiz-card-header">
          <div class="grow">
          @if(cardInput.description.text) {
            <div class="clue-block" [class.selected]="showClue" (click)="toggleClue($event)">
              <app-icon [icon]="'Lightbulb'" [size]="24" [fill]="!showClue ? '#4765FF' : '#FFF'" />
              {{ !showClue ? "Показати підказку" : cardInput.description.text[0] + '.'.repeat(cardInput.description.text.length-1)}}
            </div>
          }
          </div>

          @if(cardInput.title.text){
            <app-icon [icon]="'Volume'" [size]="24" [fill]="'#4765FF'" (click)="speakText($event)"/>
          }
        </div>

        <div class="flex w-full items-center h-full gap-4 overflow-hidden pb-11" [ngClass]="{
          'justify-between': cardInput.title.text && cardInput.title.media?.content,
          'justify-center': !(cardInput.title.text && cardInput.title.media?.content)
        }">

          @if(cardInput.title.text) {
            <div class="flex w-full h-full items-center justify-center">
              @if(cardInput.title.text.length > 164) {
                <p class="overflow-y-auto scrollbar max-h-full pb-1 break-words whitespace-pre-wrap" [ngClass]="cardInput.title.media?.content != undefined ? 'text-lg' : 'title'">
                  {{ cardInput.title.text }}
                </p>
                <!--              <div class="absolute bottom-11 left-0 w-full h-8 pointer-events-none in-shadow z-10"></div>-->
              } @else {
                <p class="title">
                  {{ cardInput.title.text}}
                </p>
              }
            </div>
          }

          @if(cardInput.title.media?.content != undefined) {
            <div class="flex w-full h-full items-center justify-center">
              @switch (cardInput.title.media!.type) {
                @case ("audio") {
                  <audio src="{{ cardInput.title.media?.content }}"></audio>
                }@case ("video") {

                  <!--TODO-->

                  <video width="224" height="112" class="object-contain media-block" src="{{ cardInput.title.media?.content }}"></video>
                }@case ("image") {
                  <img width="224" height="112" class="object-cover media-block" alt="imh" ngSrc="{{ cardInput.title.media?.content }}"/>
                  <!--                <div class="bg-cover bg-no-repeat bg-center h-24 w-24 rounded-xl flex-shrink-0 cursor-zoom-in" [style.background-image]="'url(' + cardInput!.title.media?.content + ')'"></div>-->
                }
              }
            </div>
          }
        </div>

      </div>
      <div class="quiz-card-back"
           [ngClass]="animationClass()"
           >

        @if(cardInput.description.text) {
          <div class="quiz-card-header end">
            <app-icon [icon]="'Volume'" [size]="24" [fill]="'#4765FF'" (click)="speakText($event)"/>
          </div>
        }

        <div class="flex w-full items-center h-full relative gap-4 overflow-hidden pb-11" [ngClass]="{
          'justify-between': cardInput.description.text && cardInput.description.media?.content,
          'justify-center': !(cardInput.description.text && cardInput.description.media?.content)
        }">
          @if(cardInput.description.text) {
            <div class="flex w-full h-full items-center justify-center">
             @if(cardInput.description.text.length > 164) {
               <p class="overflow-y-auto max-h-full pb-1 break-words whitespace-pre-wrap" [ngClass]="cardInput.description.media?.content != undefined ? 'text-lg' : 'title'">
                 {{ cardInput.description.text }}
               </p>
               <div class="absolute bottom-11 left-0 w-full h-8 pointer-events-none in-shadow z-10"></div>
             } @else {
               <p class="title">
                 {{ cardInput.description.text }}
               </p>
             }
            </div>
          }

          @if(cardInput.description.media?.content != undefined) {
            <div class="flex w-full h-full items-center justify-center">
            @switch (cardInput.description.media!.type) {
              @case ("audio") {
                <audio [src]="cardInput.description.media!.content" controls></audio>
              }@case ("video") {

                <!--TODO-->

                <video width="224" height="112" class="object-contain media-block" src="{{ cardInput.description.media?.content }}"></video>
              }@case ("image") {
                <img width="224" height="112" class="object-contain media-block" alt="imh" ngSrc="{{ cardInput.description.media?.content }}"/>
              }
            }
            </div>
          }
        </div>
      </div>
    </div>
</div>
