.cards-overview-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: fit-content;
  padding: 16px;
  background-color: var(--lightGrey);
  border-radius: 34px;
}

.card-overview {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  padding: 16px 20px;
  border-radius: 18px;
  background-color: #FFFFFF;
}

.card-overview-section {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
}

.card-overview-section.first {
  width: auto;
}

.card-overview-section.second {
  width: auto;
}

.blur {
  filter: blur(.2rem);
}
