@if(errCode(); as code) {
    <app-header/>
    @if(code == 403) {
        <div class="flex flex-col gap-4 items-center mt-24">
            <img src="favicon.png" class="size-24" />
            <h1 class="title text-center">Модуль захищено</h1>
            <span class="text-center">Лише автор може переглядати цей модуль.</span>
            <span class="text-center">Будь ласка, увійдіть у систему, якщо ви автор.</span>
        </div>
    } @else if(code == 404) {
        <div class="flex flex-col gap-4 items-center mt-24">
            <img src="favicon.png" class="size-24" />
            <h1 class="title text-center">Модуль не знайдено</h1>
            <span class="text-center">Вибачте, цей модуль не існує або був видалений.</span>
            <span class="text-center">Перевірте правильність посилання або поверніться на головну сторінку.</span>
        </div>
    } @else if (code == 500) {
        <div class="flex flex-col gap-4 items-center mt-24">
            <img src="favicon.png" class="size-24" />
            <h1 class="title text-center">Ой лишенько, щось пішло геть не так!</h1>
            <span class="text-center">Вибачте, сталася помилка при завантаженні модуля.</span>
            <span class="text-center">Спробуйте оновити сторінку або поверніться на головну.</span>
        </div>
    }
} @else {
    <router-outlet></router-outlet>
}