@if(errCode(); as code) {
    <app-header/>
    @if(code == 403) {
        <div class="message-block">
            <img src="favicon.png" class="size-24" />
            <h1 >Модуль захищено</h1>
            <span>Лише автор може переглядати цей модуль.</span>
            <span>Будь ласка, увійдіть у систему, якщо ви автор.</span>
        </div>
    } @else if(code == 404) {
        <div class="message-block">
            <img src="favicon.png" class="size-24" />
            <h1>Модуль не знайдено</h1>
            <span>Вибачте, цей модуль не існує або був видалений.</span>
            <span>Перевірте правильність посилання або поверніться на головну сторінку.</span>
        </div>
    } @else if (code == 500) {
        <div class="message-block">
            <img src="favicon.png" class="size-24" />
            <h1>Ой лишенько, щось пішло геть не так!</h1>
            <span>Вибачте, сталася помилка при завантаженні модуля.</span>
            <span>Спробуйте оновити сторінку або поверніться на головну.</span>
        </div>
    }
} @else {
    <router-outlet></router-outlet>
}