:host {
    display: block;
    width: 100%;
    min-height: 100vh;
    background-color: var(--background);
}

.item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    border: 2px solid var(--secondary);
    border-radius: 1rem;
    background-color: var(--lightGrey);
    cursor: pointer;
    width: 100%;
    justify-content: space-between;
    color: var(--dark-accent);
}

.item:hover {
    border: 2px solid var(--hover-secondary);
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}