@if(module) {
    <div class="module-header">
        <div class="module-header__main">
            @if(module.media.hasMedia && module.media.thumbnail) {
                <img [src]="module.media.thumbnail" class="size-10 object-cover rounded-xl" />
            }@else {
                <div class="icon">
                    <app-icon [size]="24" [icon]="'Notes'" fill="var(--accent)" />
                </div>
            }

            <div class="module-header__info">
                <span class="text-medium overline">{{module.title}}</span>
                <span class="overline">{{`Карток: ${module.objects}`}}</span>
            </div>
        </div>

        @if(isAuthenticated | async) {
            <div class="module-header__actions">
                <app-button 
                    [theme]="module.isSaved ? 'primary' : 'hover-only-dark'" 
                    [size]="'symbol'"
                    [disabled]="isLoading()"
                    (click)="toggleSaveModule($event)"
                >
                    <app-icon 
                        [icon]="'Bookmark'" 
                        [size]="24"
                    /> 
                </app-button>

                @if(module.isOwner) {
                    <app-dropdown 
                        class="game-header__left"
                        [list]="dropdownList()"
                        [config]="{
                            rememberSelection: false,
                            divider: 'line',
                        }"
                        [position]="{
                            px: 'right',
                            py: 'bottom'
                        }"
                    >
                        <app-button btn 
                            theme="hover-only-dark" 
                            [size]="'symbol'"
                            [disabled]="isLoading()"
                        >
                        <app-icon
                            [icon]="'MenuDots'"
                            [size]="24"
                            
                        />
                        </app-button>
                    </app-dropdown>
                }
            </div>
        }
    </div>

    @if(showAuthor) {
        <div class="flex gap-4">
            <app-avatar [name]="module.author.name" [size]="'sm'" />
            <span class="text-sm">{{module.author.name}}</span>
        </div>
    }
}