<div class="question__header">
  @if(!showAnswer) {
    <div class="flex gap-4 items-center">
      Прослухати
      @if(question?.question!.text){
        <app-button 
          theme="hover-only" 
          size="symbol"
        >
          <app-icon 
            [icon]="'Volume'" 
            [size]="24" 
            [fill]="'#6d4aff'" 
            (click)="speakText(question?.question!.text!, $event)"
          />
        </app-button>
      }
    </div>
  }
  <span class="self-end">{{ numeration.pos }} з {{ numeration.from }}</span>
</div>

<div 
  class="question__body"
  [ngClass]="{'justify-between': question?.question!.text && question?.question!.media?.content}"
>

  @if(question!.question.text) {
    <p class="question__text"
      [class.question__text--scroll]="question!.question.text.length > 164"
      [class.question__text--title]="question!.question.text.length <= 164"
    >
      {{question!.question.text}}
    </p>
  }

  @if(question?.question!.media?.content != undefined) {
    @switch (question?.question!.media!.type) {
      @case ("audio") {
        <!--TODO-->
        <audio src="{{question?.question!.media!.content}}"></audio>
      }
      
      @case ("video") {
        <!--TODO-->
        <video width="224" height="112" class="object-contain media-block" src="{{question?.question!.media!.content}}"></video>
      }
      
      @case ("image") {
        <div class="media-block-wrapper media-block--sm">
          <img 
            class="media-block"
            appImageModalDirective
            [src]="question!.question.media!.content!"
            [allowModal]="true"
          />
        </div>
      }
    }
  }
</div>
@if(!showAnswer) {
  <div class="input__section">
    <div 
      [class.answer__feedback--correct]="showAnswer && isCorrectAnswer"
      [class.answer__feedback--incorrect]="showAnswer && !isCorrectAnswer"
    >
      @if (answered && showAnswer) {
        {{feedback.getFeedbackMessage(isCorrectAnswer)}}
      } @else {
        Введіть відповідь
      }
    </div>

    <app-input
      [title]="'Введіть відповідь'"
      (inputChange)="onInputChange($event)"
    />

    <app-button 
      class="self-end" 
      rounded="md" 
      (click)="nextQuestionClick()"
    >
      Далі
    </app-button>
  </div>
} @else {
  <div class="question-result">
    <div 
      [class.answer__feedback--correct]="showAnswer && isCorrectAnswer"
      [class.answer__feedback--incorrect]="showAnswer && !isCorrectAnswer"
    >
      @switch (isCorrectAnswer) {
        @case (true) {
          Чудово!
        }
        @default {
          Не зовсім правильно, але ви робите успіхи!
        }
      }
    </div>

    <div class="answer__list answer__list--grid">
      @if(!isCorrectAnswer) {
        <div
          class="answer__item answer__item--incorrect"
          [class.answer__item--selected]="answered && answered != undefined"
        >
          <div class="flex gap-2 items-center">
            <app-icon [icon]="'Cross'" [size]="23" [fill]="'#FF9F4B'" />
            {{answered != undefined ? answered : "Відповідь не обрана"}}
          </div>
        </div>
      }
      
      <div
        class="answer__item answer__item--correct"
        [class.answer__item--selected]="answered && answered != undefined"
      >
          <div class="flex gap-2 items-center">
            <app-icon [icon]="'Check'" [size]="24" [stroke]="'#41C550'" [fill]="'transparent'"/>
            {{question?.answer?.text}}
          </div>
        </div>
    </div>
  </div>
}