<header class="header">
    <img src="favicon.png" height="32" width="32" />

    <app-custom-input
        class="header-center"
        [title]="'Пошук'"
        [icon]="{show: true}"
        (inputChange)="findModules($event)"
        (inputFocused)="showConfig.showSearchDropdown = $event"
    />

    <div class="header-end">
        <app-custom-button
            [theme]="'primary'"
            [size]="'symbol'"
            (click)="addModule()"
        >
            <app-icon [icon]="'Add'" [size]="24" [stroke]="'#FFF'"/>
        </app-custom-button>
        @if(authState.isAuthenticated$ | async) {
            <app-avatar [name]="authState.getPartial('username')!" />
        } @else {
            <app-custom-button (click)="toggleAuthModal(true)">Вхід</app-custom-button>
        }
    </div>
</header>

@if(showConfig.showSearchDropdown && modules().length > 0) {
    <div class="search-wrapper drop-shadow-xl shadow-stone-200">   
        @for(module of modules(); track module) {
            <div class="search-item flex-col" (click)="navigateToModule(module.id, $event)">
                <span>{{module.title}}</span>
                
                <div class="flex gap-2 items-center">
                    <app-avatar [name]="module.author.name" [size]="'sm'" />
                    
                    <div class="flex flex-col">
                        <div class="flex items-center gap-2 text-xs m-0 font-medium text-[var(--text-secondary)]">
                            <span>{{module.author.name}}</span>
                            <span>термінів: {{module.objects}}</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
