:host {
    position: sticky;
    z-index: 2;
    top: 0;
    display: block;
}

.header {
    display: grid;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 1rem;
    position: relative;
    top: 0;
    grid-template-columns: 1fr minmax(0, 3fr) 1fr;
}

.header-center {
    width: 100%;
    max-width: calc(50rem - 24px);
    justify-self: center;
}

.header-end {
    display: flex;
    width: fit-content;
    gap: 1rem;
    justify-self: end;
}


.search-wrapper {
    position: relative;
}

.search-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    border-radius: 1rem;
    background-color: white;
    outline: 1px solid var(--secondary);
    top: 0.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: 0.25rem;
}

.search-item {
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    cursor: pointer;
}

.search-item:hover {
    background-color: var(--secondary);
}

@media (max-width: 414px) {
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .header-center {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
  }
}