/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root {
  /* --accent: #4765FF;
  --hover-accent: #4B5CE6; */
  --accent: #6d4aff;
  --hover-accent: #462ebd;

  --yellow: #fcd34d;

  --dark-accent: #372580;

  /* --secondary: #f0f3fe; */
  /* --hover-secondary: #EEF0FF; */
  --secondary: #EEF0FF;
  --hover-secondary: #e2dbff;

  --secondary2: #D3D8FF;
  --hover-secondary2: #A7B2FF;
  
  --green: #44D856;
  /* --lightGrey: #f3f5f7; */
  --lightGrey: #f8fafc;
  --background: #FAFAFA;

  --text-secondary: #cecece;
  --text-secondary2: #6f7883;
}

.title {
  font-size: 1.75rem;
  color: var(--dark-accent);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.quiz-footer-nav-md {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  gap: 0.75rem;
}

.quiz-footer-left {
  justify-self: start;
  display: flex;
  gap: 0.75rem;
}
.quiz-footer-center {
  justify-self: center;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.quiz-footer-right {
  justify-self: end;
}

.quiz-footer-nav-sm {
  display: none;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.game-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  padding: 0.75rem;
  background-color: #FFF;
}

.game-header-left {
  justify-self: start;
  display: flex;
}

.game-header-center {
  justify-self: center;
  display: flex;
  gap: 16px;
  align-items: center;
}

.game-header-right {
  justify-self: end;
  display: flex;
  gap: 16px;
  align-items: center;
}

.game-footer {
  display: flex;
  width: 100%;
  padding: 1rem;
  gap: 16px;
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 0;
  background-color: #FFF;
}

.question-block {
  display: flex;
  width: 100%;
  max-width: 800px;
  padding: 1.5rem;
  border-radius: 2rem;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: #FFF;
  margin: 0 auto;
  color: var(--dark-accent);
}

.answer-block {
  display: flex;
  padding: 14px;
  border: 2px solid var(--secondary);
  border-radius: 1rem;
  background-color: var(--lightGrey);
  align-items: center;
  cursor: pointer;
  width: 100%;
  justify-content: space-between;
}

.answer-block:hover {
  border-color: var(--hover-secondary);
}

.answer-block.selected {
  border-color: var(--accent);
  background-color: var(--secondary2);
}

.answer-block.correct {
  border-color: #41C550;
  background-color:#FFFFFF;
}

.answer-block.incorrect {
  border-color: #FF9F4B;
  background-color:#FFFFFF;
}

.answer-block.disabled {
  background-color:#FFFFFF;
  opacity: 0.5;
}
.answer-block.disabled:hover {
  border-color: var(--secondary);
}

.justify-self-center {
  justify-self: center;
}



.in-shadow {
  box-shadow: inset 0 -16px 8px -6px rgba(243, 245, 247, 1);
}

.in-shadow-white {
  box-shadow: inset 0 -16px 8px -6px rgba(255, 255, 255, 1);
}

.scrollbar {
  max-height: 200px; /* реально ограниченная высота */
  overflow-y: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--secondary);
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--hover-secondary);
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--hover-secondary2);
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary2);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--accent);;
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent);
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1.5rem;
}

.slider.round:before {
  border-radius: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.kbd {
  height: 24px;
  min-width: 24px;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  outline: 2px solid var(--secondary2);
  color: var(--hover-secondary2);
  border-radius: 0.5rem;
}

.media-block {
  border-radius: 1rem;
  max-width: 100%;
  max-height: 240px;
  object-fit: contain;
}

.media-block.sm {
  border-radius: 0.75rem;
  object-fit: cover;
}

.match-block {
  display: inline-flex;
  vertical-align: middle;
  width: 100%;
  padding: 14px;
  border: 2px dashed var(--secondary2);
  border-radius: 1rem;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.match-block.lg {
  min-height: 56px;
}

.match-block.sm {
  height: 36px;
  border-radius: 8px;
}

.match-block:hover {
  border-color: var(--hover-secondary2);
}

.match-block.chosen {
  border: 2px solid var(--secondary2);
}

.match-block.selected {
  border: 2px solid var(--accent);
  background-color: var(--secondary2);
}

.match-answer-block {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--secondary2);
  border-radius: 0.75rem;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.match-answer-block:hover {
  border-color: var(--hover-secondary2);
}

.match-answer-block.chosen {
  border: 1px solid transparent;
  opacity: 50%;
  cursor: default;
}

.keyword-block {
  display: inline-flex;
  padding: 2px 8px;
  border: 1px solid var(--accent);
  border-radius: 0.75rem;
  color: var(--accent);
  font-size: 1rem;
  /* font-weight: 500; */
}

@media (max-width: 414px) {
  .quiz-footer-nav-md {
    display: none;
  }

  .quiz-footer-nav-sm {
    display: flex;
  }
}