:host {
    display: flex;
    padding: 1rem;
    /* gap: 1rem; */
    border: 2px solid var(--secondary);
    border-radius: 1rem;
    background-color: var(--lightGrey);
    align-items: center;
    cursor: pointer;
    width: 100%;
    justify-content: space-between;
    color: var(--dark-accent);
}

:host:hover {
    border: 2px solid var(--hover-secondary);
}