.avatar {
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.avatar.md {
  width: 2.75rem;
  height: 2.75rem;
}
.avatar.sm {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 12px;
}

.avatar.blue {
  background: #0091ff;
  color: white;
}

.avatar.green {
  background: #45d90a;
  color: white;
}

.avatar.purple {
  background: #6d4aff;
  color: white;
}

.avatar.red {
  background: #ee2323;
  color: white;
}

.avatar.orange {
  background: #ff9900;
  color: white;
}

.avatar.pink {
  background: #ee2393;
  color: white;
}