@if(getModule; as module) {
  <header class="header-wrapper">
    <div class="game-header">
      
      <app-dropdown 
        class="game-header__left"
        [list]="dropdownList"
        [config]="{
          title: {text: 'Тестування'}, 
          hideOnSmall: true,
          divider: 'line', 
          icon: {
            name: 'Document',
            color: 'var(--accent)'
          }
        }" 
      />

      <div class="game-header__center text-dark-accent">
        <div>{{ showConfig().showAnswers ? getResult.correct.length : answeredCount() }} / {{ testConfig().max }}</div>
        <div>{{ module.title }}</div>
      </div>

      <div class="game-header__right">
        @if(true) {

          <app-button
            theme="hover-only" 
            rounded="md" 
            size="symbol" 
            (click)="openModal(modalTemplate)"
          >
            <app-icon [icon]="'Settings'" [size]="24" [fill]="'#6d4aff'" />
          </app-button>

        } @else {

          <app-button
            theme="secondary"
            rounded="md"
          >
            Вхід
          </app-button>

          <app-button rounded="md">
            Зареєструватись
          </app-button>

        }

        <app-button
          theme="hover-only" 
          rounded="md" 
          size="symbol" 
          (click)="changeGameMode('default')"
        >
          <app-icon [icon]="'Cross'" [size]="36" [fill]="'#6d4aff'" />
        </app-button>
      </div>
    </div>

    <div class="game-progress">
      <div 
        class="game-progress__bar"
        [ngStyle]="{ 'width': (Math.min(answeredCount() / testConfig().max, 1) * 100)+ '%' }" 
      >
      </div>
    </div>
  </header>

  <main class="main-block">
    @if(showConfig().showAnswers) {
      <div class="flex flex-col gap-4 text-lg w-full max-w-200">
        <div class="text-dark-accent text-xl">{{`Час: ${timer().m} хв. ${timer().s} сек.`}}</div>

        <div class="flex gap-8 items-center max-sm:flex-col">
          <app-doughnut-chart [correct]="getResult.correct.length" [incorrect]="getResult.incorrect.length" />
          <div class="flex flex-col w-full max-w-60 gap-2">
            <div class="text-[#6d4aff] flex justify-between">
              <div class="flex gap-2 items-center">
                <app-icon [icon]="'Check'" [size]="24" [stroke]="'#6d4aff'" [fill]="'transparent'"/>
                Правильно
              </div>
            <div class="bg-[#e2dbff] border-[#6d4aff] border rounded-xl flex justify-center w-14">{{getResult.correct.length}}</div>
            </div>
            <div class="flex justify-between text-[#A7B2FF]">
              <div class="flex gap-2 items-center">
                <app-icon [icon]="'Cross'" [size]="24" [fill]="'#A7B2FF'" />
                Неправильно
              </div>
              <div class="bg-[#e2dbff] text-[#6d4aff] border-[#A7B2FF] border rounded-xl flex justify-center w-14">{{getResult.incorrect.length}}</div>
            </div>
          </div>
        </div>
      </div>
    }

    @switch(testConfig().mode) {
      @case("choose") {
        @for(question of tests().choose; let i = $index; let len = $count; track question.question) {
          <app-choose-question
            #questionRef
            [question]="question"
            [numeration]="{ pos: i+1, from: len }"
            (questionChange)="toggleSelectAnswer(i, $event)"
            [showAnswer]="showConfig().showAnswers"
            [answered]="getResult.answers[i]"
          />
        }
      }
      @case("true-false") {
        @for(question of tests().tf; let i = $index; let len = $count; track question) {
          <app-true-false-question
            #questionRef
            [question]="question"
            [numeration]="{ pos: i+1, from: len }"
            (questionChange)="toggleSelectAnswer(i, $event)"
            [showAnswer]="showConfig().showAnswers"
            [answered]="(getResult.answers[i] == undefined || getResult.answers[i] == '') ? undefined : getResult.answers[i] == 'true'"
          />
        }
      }
      @case("input") {
        @for(question of tests().input; let i = $index; let len = $count; track question) {
          <app-input-question
            #questionRef
            [question]="question"
            [numeration]="{ pos: i+1, from: len }"
            (questionChange)="toggleSelectAnswer(i, $event)"
            (nextQuestion)="scrollToNextQuestion(i)"
            [showAnswer]="showConfig().showAnswers"
            [answered]="getResult.answers[i]"
          />
        }
      }
      @case("match") {
        <app-match-question 
          [questions]="tests().match"
          [showAnswer]="showConfig().showAnswers"
          [answered]="getResult.answers"
          (questionChange)="toggleSelectAnswer($event.index, $event.answer)"
        />
      }
    }

    @if(!showConfig().showAnswers) {
      <app-button #finishButton rounded="md" (click)="finishTest()">Завершити тест</app-button>
    }
  </main>

<ng-template #modalTemplate>
  <div class="modal__body">
    <div class="modal__section">
      <div class="modal__row">
        <span>Питання (максимум {{ module.cards.length }})</span>

        <input
          class="input max-w-20"
          type="number"
          [defaultValue]="tempConfig().max"
          [min]="1" [max]="module.cards.length"
          [(ngModel)]="tempConfig().max"
        />
      </div>

      <div class="divider-horizontal"></div>

      <div class="modal__row">
        <span>Вірно-невірно</span>

        <label [class]="'switch'">
          <input
            [type]="'checkbox'"
            [checked]="tempConfig().mode == 'true-false'"
            [disabled]="tempConfig().mode == 'true-false'"
            (click)="updateTempConfig('mode', 'true-false')"
          />
          <span [class]="'slider round'"></span>
        </label>
      </div>

      <div class="modal__row">
        <span>Вибір відповіді</span>

        <label [class]="'switch'">
          <input
            [type]="'checkbox'"
            [checked]="tempConfig().mode == 'choose'"
            [disabled]="tempConfig().mode == 'choose'"
            (click)="updateTempConfig('mode', 'choose')"
          />
          <span [class]="'slider round'"></span>
        </label>
      </div>

      <div class="modal__row">
        <span>Підбір</span>

        <label [class]="'switch'">
          <input
            [type]="'checkbox'"
            [checked]="tempConfig().mode == 'match'"
            [disabled]="tempConfig().mode == 'match'"
            (click)="updateTempConfig('mode', 'match')"
          />
          <span [class]="'slider round'"></span>
        </label>
      </div>

      <div class="modal__row">
        <span>Письмові питання</span>

        <label [class]="'switch'">
          <input
            [type]="'checkbox'"
            [checked]="tempConfig().mode == 'input'"
            [disabled]="tempConfig().mode == 'input'"
            (click)="updateTempConfig('mode', 'input')"
          />
          <span [class]="'slider round'"></span>
        </label>
      </div>

      <div class="divider-horizontal"></div>

      <div class="modal__section">
        <div class="modal__row">
          <span>Формат питань</span>

          <!-- Accordion -->
          <div
            class="flex items-center gap-2 text-(--accent) cursor-pointer" 
            (click)="showConfig().showAnswerMode = !showConfig().showAnswerMode"
          >
            <span>Переглянути</span>

            <app-icon 
              [class]="'transition-all'" 
              [ngClass]="{'rotate-180': showConfig().showAnswerMode}"
              [icon]="'ChevronDown'" 
              [size]="24" 
              [fill]="'#6d4aff'" 
            />
          </div>
        </div>

        <div
          class="w-full flex flex-col gap-4 pl-4" 
          [ngClass]="{'hidden': !showConfig().showAnswerMode}"
        >
          <div class="modal__row">
            <span>Термін - Опис</span>

            <label [class]="'switch'">
              <input
                [type]="'checkbox'"
                [disabled]="tempConfig().answerMode == 'description'"
                [checked]="tempConfig().answerMode == 'description'"
                (click)="updateTempConfig('answerMode', 'description')"
              />
              <span [class]="'slider round'"></span>
            </label>
          </div>

          <div class="modal__row">
            <span>Опис - Термін</span>

            <label [class]="'switch'">
              <input
                [type]="'checkbox'"
                [disabled]="tempConfig().answerMode == 'title'"
                [checked]="tempConfig().answerMode == 'title'"
                (click)="updateTempConfig('answerMode', 'title')"
              />
              <span [class]="'slider round'"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal__actions">
      <app-button theme="secondary" rounded="md" (click)="resetTestConfig()">
        Скасувати
      </app-button>
      <app-button theme="primary" rounded="md" (click)="applyTestConfig()">
        Створити тест
      </app-button>
    </div>
  </div>
</ng-template>
}