.cards-overview-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: fit-content;
  padding: 1rem;
  background-color: var(--lightGrey);
  color: var(--dark-accent);
  border-radius: 2rem;
}

.card-overview {
  display: grid;
  grid-template-columns: 30% 2px auto;
  gap: 1rem;
  width: 100%;
  padding: 1rem 20px;
  border-radius: 1rem;
  background-color: #FFFFFF;
}

.card-overview-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.card-overview-section.first {
  width: auto;
}

.card-overview-section.second {
  width: auto;
}

.blur {
  filter: blur(.2rem);
}

@media (max-width: 768px) {
  .card-overview {
    display: flex;
    flex-direction: column;
  }
}