<div class="flex flex-col gap-4">
    <app-quiz-card
        [cardInput]="{
            title: currentCard.title,
            description: currentCard.description
        }"
        [fullScreen]="config.fullscreen || false"
    />

    <div class="quiz-footer-nav">
        <div class="quiz-footer-left">
        <app-custom-button
            (click)="toggleAutoPlay()"
            [theme]="'secondary'"
            [size]="'symbol'"
            [rounded]="'full'"
        >
            <app-icon [icon]="isAutoPlayActive ? 'Pause' : 'Play'" [size]="16" [fill]="'#4765FF'" />
        </app-custom-button>

        <app-custom-button
            (click)="toggleShuffle()"
            [theme]="isShuffleActive ? 'primary' : 'secondary'"
            [size]="'symbol'"
            [rounded]="'full'"
        >
            <app-icon [icon]="'Shuffle'" [size]="16" [fill]="isShuffleActive ? '#FFF' : '#4765FF'" />
        </app-custom-button>
        </div>

        <div class="quiz-footer-center">
        <app-custom-button
            (click)="this.changeCard('prev')"
            [theme]="'secondary'"
            [size]="'symbol'"
            [rounded]="'full'"
            [disabled]="currentCardIndex() === 0"
        >
            <app-icon [icon]="'ChevronLeft'" [size]="24" [fill]="'#4765FF'" />
        </app-custom-button>

        <div>{{ currentCardIndex()+1 }}/{{ this.cards.length }}</div>

        <app-custom-button
            (click)="this.changeCard('next')"
            [theme]="'secondary'"
            [size]="'symbol'"
            [rounded]="'full'"
            [disabled]="currentCardIndex() === this.cards.length-1"
        >
            <app-icon [icon]="'ChevronRight'" [size]="24" [fill]="'#4765FF'" />
        </app-custom-button>
        </div>


        @if(config.dualBtn) {
            <div class="flex gap-1 h-11 p-1 items-center bg-[var(--secondary)] w-fit rounded-full overflow-hidden quiz-footer-right">
                <app-custom-button
                    [theme]="'secondary'"
                    [size]="'dual-child'"
                    [rounded]="'right-sm'"
                    [className]="'rounded-r-none'"
                >
                    <app-icon [icon]="'Settings'" [size]="24" [fill]="'#4765FF'"/>
                </app-custom-button>
                <div class="w-0.5 h-1/2 bg-[var(--hover-secondary2)]"></div>
                <app-custom-button
                    [theme]="'secondary'"
                    [size]="'dual-child'"
                    [rounded]="'left-sm'"
                >
                    <app-icon [icon]="'FullScreen'" [size]="32" [stroke]="'#4765FF'"/>
                </app-custom-button>
            </div>
        }
    </div>

    @if(config.progressBar) {
        <div class="w-full h-0.5 rounded-3xl bg-[var(--secondary)]">
            <div [ngStyle]="{ 'width': (this.currentCardIndex()/(this.cards.length-1))*100 + '%' }" class="h-0.5 rounded-3xl bg-[var(--accent)]"></div>
        </div>
    }
</div>