<div #overlay [ngClass]="'flex w-screen h-screen p-9 fixed overlay z-2'" (click)="closeModal($event)"></div>

<div
  class="modal-containter">
  <div class="modal-content">
    <div class="flex justify-between w-full items-center mb-8">
        <h1 class="title">{{ title }}</h1>

        <app-custom-button 
            class="absolute top-9 right-9"
            theme="secondary" 
            rounded="md" size="symbol" 
            (click)="closeModal($event)"
        >
            <app-icon [icon]="'Cross'" [size]="36" [fill]="'#6d4aff'" />
        </app-custom-button>
    </div>
    <div class="flex flex-col gap-4 max-md:flex-1 max-md:justify-between">
      <div class="flex flex-col gap-4">
        <span class="text-md text-[var(--text-secondary2)]">{{description}}</span>
        <span>{{warning}}</span>
      </div>

      <div footer [class]="'flex gap-4 justify-end w-full max-md:justify-between max-md:flex-col-reverse'">
        <app-custom-button theme="secondary" rounded="md" class="max-md:w-full" className="max-md:w-full" (click)="closeModal()">
          Скасувати
        </app-custom-button>
        <app-custom-button theme="primary" [danger]="true" class="max-md:w-full" className="max-md:w-full" (click)="onConfirm()">
          Підтвердити
        </app-custom-button>
      </div>
    </div>
  </div>
</div>