<div class="question-block justify-between min-h-150">
  <!-- QUESTION -->
  <div class="flex max-md:flex-col w-full gap-4 flex-1">
   <div class="flex flex-col gap-4 w-full h-full">
     <div class="flex w-full justify-between h-12 items-center">
       <div class="flex gap-4 items-center">
         Термін
         @if(question!.question.text){
           <app-custom-button theme="hover-only" size="symbol">
             <app-icon [icon]="'Volume'" [size]="24" [fill]="'#6d4aff'" (click)="speakText(question!.question.text, $event)"/>
           </app-custom-button>
         }
       </div>
     </div>
     <div class="flex w-full h-full gap-4 overflow-hidden pb-11 max-md:flex-col" [ngClass]="{
          'justify-between': question!.question.text && question!.question.media?.content,
          'justify-center': !question!.question.text && question!.question.media?.content
        }">

       @if(question!.question.text) {
         @if(question!.question.text.length > 164) {
           <p class="overflow-y-auto max-h-full pb-1 formatted-text whitespace-pre-wrap" [ngClass]="question!.question.media?.content != undefined ? 'text-lg' : 'text-xl'">
             {{ question!.question.text }}
           </p>
           <div class="absolute bottom-11 left-0 w-full h-8 pointer-events-none in-shadow z-10"></div>
         } @else {
           <p class="text-xl formatted-text">
             {{ question!.question.text }}
           </p>
         }
       }

       @if(question!.question.media?.content != undefined) {
         @switch (question!.question.media!.type) {
           @case ("audio") {
             <audio src="{{ question!.question.media?.content }}"></audio>
           }@case ("video") {

             <!--TODO-->

             <video width="224" height="112" class="object-contain media-block" src="{{ question!.question.media?.content }}"></video>
           }@case ("image") {
             <!-- <div class="bg-cover bg-no-repeat bg-center h-24 w-24 rounded-xl shrink-0 cursor-zoom-in" [style.background-image]="'url(' + question!.question.media?.content + ')'"></div> -->
              @if(question!.question.media?.content) {
                <img 
                  appImageModalDirective
                  class="media-block sm w-24 h-24"
                  alt="imh"
                  [src]="question!.question.media?.content!"
                  [allowModal]="true"
                  [width]="'96px'"
                />
                <!-- <app-image [image]="" [config]="{width: '96px', height: '96px', allowModal: true}" /> -->
              }
            }
         }
       }
     </div>
   </div>

    <div class="w-1 max-md:w-full max-md:h-0.5 bg-[var(--secondary)]"></div>

    <div class="flex flex-col gap-4 w-full h-full">
      <div class="flex w-full justify-between h-12 items-center">
        <div class="flex gap-4 items-center">
          Визначення
          @if(question!.question.text){
            <app-custom-button theme="hover-only" size="symbol">
              <app-icon [icon]="'Volume'" [size]="24" [fill]="'#6d4aff'" (click)="speakText(question!.answer.text!, $event)"/>
            </app-custom-button>
          }
        </div>
        {{ numeration.pos }} з {{ numeration.from }}
      </div>
      <div class="flex w-full h-full gap-4 overflow-hidden pb-11 max-md:flex-col" [ngClass]="{
          'justify-between': question!.answer.text && question!.answer.media?.content,
          'justify-center': !question!.answer.text && question!.answer.media?.content
        }">

      @if(question!.answer.text) {
        @if(question!.answer.text.length > 164) {
          <p class="overflow-y-auto max-h-full pb-1 formatted-text whitespace-pre-wrap" [ngClass]="question!.answer.media?.content != undefined ? 'text-lg' : 'text-xl'">
            {{ question!.answer.text }}
          </p>
          <div class="absolute bottom-11 left-0 w-full h-8 pointer-events-none in-shadow z-10"></div>
        } @else {
          <p class="text-xl formatted-text">
            {{ question!.answer.text }}
          </p>
        }
      }

      @if(question!.answer.media?.content != undefined) {
        @switch (question!.answer.media!.type) {
          @case ("audio") {
            <audio src="{{ question!.answer.media?.content }}"></audio>
          }@case ("video") {
            <video width="96" height="96" class="object-cover media-block" src="{{ question!.answer.media?.content }}"></video>
          }@case ("image") {
            <!-- <div class="bg-cover bg-no-repeat bg-center h-24 w-24 rounded-xl flex-shrink-0 cursor-zoom-in" [style.background-image]="'url(' + question!.answer.media?.content + ')'"></div> -->
            <img 
              appImageModalDirective
              class="media-block sm w-24 h-24"
              alt="imh"
              [src]="question!.answer.media?.content!"
              [allowModal]="true"
            />
          }
        }
      }
    </div>
    </div>
  </div>

  <!-- ANSWER -->
  <div class="w-full flex flex-col gap-4">
    <div
      [ngClass]="{
        'text-[#41C550]': showAnswer && isCorrectAnswer(answered!),
        'text-[#FF9F4B]': showAnswer && isIncorrectAnswer(answered!)
      }"
    >
      @if (showAnswer) {
        {{feedbackMessage}}
      } @else {
        Оберіть відповідь
      }
    </div>
    <div class="w-full flex max-md:flex-col gap-4">
      <div
        class="answer-block w-full md:-1/2"
        [ngClass]="{
          'selected':  answered && answered != undefined,
          'correct': isCorrectAnswer(true),
          'incorrect': isIncorrectAnswer(true)
        }"
        (click)="toggleChooseAnswer(true)"
      >
        <div class="flex gap-2 items-center">
          @if(isCorrectAnswer(true)) {
            <app-icon [icon]="'Check'" [size]="24" [stroke]="'#41C550'" [fill]="'transparent'"/>
          } @else if (isIncorrectAnswer(true)) {
            <app-icon [icon]="'Cross'" [size]="23" [fill]="'#FF9F4B'" />
          }
          Вірно
        </div>
      </div><div
        class="answer-block w-full md:-1/2"
        [ngClass]="{
          'selected': answered == false && answered != undefined,
          'correct': isCorrectAnswer(false),
          'incorrect': isIncorrectAnswer(false)
        }"
        (click)="toggleChooseAnswer(false)"
      >
      <div class="flex gap-2 items-center">
        @if(isCorrectAnswer(false)) {
          <app-icon [icon]="'Check'" [size]="24" [stroke]="'#41C550'" [fill]="'transparent'"/>
        } @else if (isIncorrectAnswer(false)) {
          <app-icon [icon]="'Cross'" [size]="24" [fill]="'#FF9F4B'" />
        }
        Невірно
      </div>
      </div>
    </div>

    @if(skipped) {
      <div class="mx-auto">Пропущено</div>
    } @else {
      <div
        class="mx-auto text-[var(--accent)] hover:underline"
        (click)="skipQuestion()"
        [ngClass]="{
          'opacity-50 cursor-default': showAnswer,
          'cursor-pointer': !showAnswer
        }"
      >
        Не впевнені?
      </div>
    }
  </div>
</div>
