@if(cardInput) {
  @if(!dualCard){
    <div class="quiz-card-wrapper"
      (click)="toggleFlip()"
      [ngClass]="{
        'full-screen': fullScreen
      }"
    > 
        <div class="quiz-card-inner" 
          [class.flipped]="isFlipped()"
          [class.animate]="animate()"
          [ngClass]="{
            'full-screen': fullScreen
          }"
        >
          <!-- FRONT -->
          <div class="quiz-card-front" [ngClass]="animationClass()">
            
            <!-- HEADER -->  
            <div class="quiz-card-header">
              <div class="grow max-md:hidden">
                @if(cardInput.description.text) {
                  <div class="clue-block" [class.selected]="showClue()" (click)="toggleClue($event)">
                    <app-icon [icon]="'Lightbulb'" [size]="24" [fill]="!showClue() ? '#6d4aff' : '#FFF'" />
                    {{ !showClue() ? "Показати підказку" : getClue}}
                  </div>
                }
              </div>

              <div class="flex gap-8">
                @if(canEdit) {
                  <app-edit-card-button [card]="cardInput" />
                }
                @if(cardInput.title.text){
                  <app-icon [icon]="'Volume'" [size]="24" [fill]="'#6d4aff'" (click)="speakText($event)"/>
                }
              </div>
            </div>

            <!-- CONTENT -->
            <div class="quiz-card-content">
              <!-- TEXT -->
              @if (cardInput.title.text) {
                <div class="quiz-card-text-wrapper">
                  <div class="quiz-card-text-center">
                    <div class="quiz-card-text-scroll scrollbar">
                      {{ cardInput.title.text }}
                    </div>
                  </div>
                </div>
              }

              @if(cardInput.title.media?.content != undefined) {
                <div class="flex w-full h-full items-center justify-center">
                  @switch (cardInput.title.media!.type) {
                    @case ("audio") {
                      <!--TODO-->
                      <audio src="{{ cardInput.title.media!.content }}"></audio>
                    }
                    @case ("video") {
                      <!--TODO-->
                      <video width="224" height="112" class="object-contain media-block" src="{{ cardInput.title.media!.content }}"></video>
                    } @case ("image") {
                      <img 
                        appImageModalDirective
                        class="media-block object-contain"
                        alt="imh"
                        [src]="cardInput.title.media!.content!"
                        [allowModal]="true"
                        [withOutline]="false"
                      />
                    }
                  }
                </div>
              }
            </div>

          </div>

          <!-- BACK -->
          <div class="quiz-card-back" [ngClass]="animationClass()">

            <!-- HEADER -->
            <div class="quiz-card-header flex gap-8 end">
              @if(canEdit) {
                <app-edit-card-button [card]="cardInput" />
              }

              @if(cardInput.description.text) {

                <app-icon [icon]="'Volume'" [size]="24" [fill]="'#6d4aff'" (click)="speakText($event)"/>
              }
            </div>

            <!-- CONTENT -->
            <div class="quiz-card-content">
              <!-- TEXT -->
              @if (cardInput.description.text) {
                <div class="quiz-card-text-wrapper">
                  <div class="quiz-card-text-center">
                    <div class="quiz-card-text-scroll scrollbar">
                      {{ cardInput.description.text }}
                    </div>
                  </div>
                </div>
              }

              <!-- MEDIA -->
              @if(cardInput.description.media?.content != undefined) {
                <div class="flex w-full h-1/2 md:h-full items-center justify-center">
                @switch (cardInput.description.media!.type) {
                  @case ("audio") {
                    <!--TODO-->
                    <audio [src]="cardInput.description.media!.content" controls></audio>
                  } @case ("video") {
                    <!--TODO-->
                    <video width="224" height="112" class="object-contain media-block" src="{{ cardInput.description.media!.content }}"></video>
                  } @case ("image") {
                    <img 
                      class="media-block object-contain"
                      alt="imh"
                      src="{{ cardInput.description.media!.content! }}"
                      appImageModalDirective
                      [allowModal]="true"
                      [withOutline]="false"
                    /> 
                  }
                }
                </div>
              }
            </div>
          </div>
        </div>
    </div>
  } @else {
    <div class="quiz-card h-full"
      [ngClass]="{
        'full-screen': fullScreen
      }"
    >
      <!-- <div class="quiz-card-inner flex flex-col gap-4" [class.no-transition]="noTransition"> -->
      <div class="quiz-card-inner flex flex-col gap-4">
        <div class="quiz-card dual"
          [ngClass]="animationClass()"
          >
            <div class="quiz-card-header">
              @if(cardInput.title.text){
                <app-icon [icon]="'Volume'" [size]="24" [fill]="'#6d4aff'" class="ml-auto" (click)="speakText($event)"/>
              }
            </div>

            <div class="flex w-full items-center h-full gap-4 overflow-hidden pb-11" [ngClass]="{
              'justify-between': cardInput.title.text && cardInput.title.media?.content,
              'justify-center': !(cardInput.title.text && cardInput.title.media?.content)
            }">

              @if(cardInput.title.text) {
                <div class="flex w-full h-full items-center justify-center">
                  @if(cardInput.title.text.length > 164) {
                    <p class="overflow-y-auto scrollbar max-h-full pb-1 formatted-text whitespace-pre-wrap" [ngClass]="cardInput.title.media?.content != undefined ? 'text-lg' : 'title'">
                      {{ cardInput.title.text }}
                    </p>
                    <!--              <div class="absolute bottom-11 left-0 w-full h-8 pointer-events-none in-shadow z-10"></div>-->
                  } @else {
                    <p class="title">
                      {{ cardInput.title.text}}
                    </p>
                  }
                </div>
              }

              @if(cardInput.title.media?.content != undefined) {
                <div class="flex w-full h-full items-center justify-center">
                  @switch (cardInput.title.media!.type) {
                    @case ("audio") {
                      <!--TODO-->
                      <audio src="{{ cardInput.title.media!.content }}"></audio>
                    } @case ("video") {
                      <!--TODO-->
                      <video width="224" height="112" class="object-contain media-block" src="{{ cardInput.title.media!.content }}"></video>
                    } @case ("image") {
                        <img 
                          class="media-block object-contain"
                          alt="imh"
                          src="{{ cardInput.title.media!.content! }}"
                          appImageModalDirective
                          [allowModal]="true"
                        />
                    }
                  }
                </div>
              }
            </div>
        </div>
        <div class="quiz-card dual"
          [ngClass]="animationClass()"
          >
            <div class="quiz-card-header">
              @if(cardInput.description.text){
                <app-icon [icon]="'Volume'" [size]="24" [fill]="'#6d4aff'" class="ml-auto" (click)="speakText($event)"/>
              }
            </div>

            <div class="flex w-full items-center h-full gap-4 overflow-hidden pb-11" [ngClass]="{
              'justify-between': cardInput.description.text && cardInput.description.media?.content,
              'justify-center': !(cardInput.description.text && cardInput.description.media?.content)
            }">

              @if(cardInput.title.text) {
                <div class="flex w-full h-full items-center justify-center">
                  @if(cardInput.title.text.length > 164) {
                    <p class="overflow-y-auto scrollbar max-h-full pb-1 formatted-text whitespace-pre-wrap" [ngClass]="cardInput.description.media?.content != undefined ? 'text-lg' : 'title'">
                      {{ cardInput.description.text }}
                    </p>
                    <!--              <div class="absolute bottom-11 left-0 w-full h-8 pointer-events-none in-shadow z-10"></div>-->
                  } @else {
                    <p class="title">
                      {{ cardInput.description.text}}
                    </p>
                  }
                </div>
              }

              @if(cardInput.description.media?.content != undefined) {
                <div class="flex w-full h-full items-center justify-center">
                  @switch (cardInput.description.media!.type) {
                    @case ("audio") {
                      <!--TODO-->
                      <audio src="{{ cardInput.description.media!.content }}"></audio>
                    } @case ("video") {
                      <!--TODO-->
                      <video width="224" height="112" class="object-contain media-block" src="{{ cardInput.description.media!.content }}"></video>
                    } @case ("image") {
                      <img 
                        class="media-block object-contain"
                        alt="imh"
                        src="{{ cardInput.description.media!.content! }}"
                        appImageModalDirective
                        [allowModal]="true"
                      />
                    }
                  }
                </div>
              }
            </div>
        </div>
      </div>
    </div>
  }
}